.welcome_user{
    font-size: 16px;
    position: absolute;
    right: 7px;
    top: 76px;
    font-size: 18px !important;
    color: #0f64fe;
    font-weight: bold;
}
.panel-body {
    padding: 10px !important;
}
.panel-body img{
    max-width: 100%;
}
#advancetonext{
    font-size: 14px;
    text-transform: uppercase;
}
.mce-notification {
    display: none;
}
.mce-branding-powered-by {
    display: none;
}
.navbar-fixed-top .navbar-collapse {
    min-height: 100px;
    background: #fff;
}
.navbar-fixed-top {
    border-bottom: 2px solid #fe8e28;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.top-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:hover{ /*.navbar-inverse .navbar-nav>li>a:focus,*/
    color:#fff;
    background-color: #fe8e28 !important;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #fe8e28 !important;
}
.col-sm-12.questions{
    padding: 0px !important;
}
.module-desc{
    border: 2px solid #b8b8b8 !important;
    border-radius: 0px !important;
}
.s_no{
    color:#fff;
    display:none;
}
.ques_actions {
    min-width: 125px;
}
.question-index {
    width:91px;
    float: left;
    background: #fe8e28;
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 70px;
    font-weight: bold;
}
.answer-index{
    width:91px;
    float: left;
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: center;    
}
.table_question{
    display:flex;
}
.question-content{
    width:890px;
    float:left;
    padding-left: 30px;
    /*align-items: center;
    display: flex;
    justify-content: flex-start;*/
    font-weight: bold;
    border-left: 2px solid #b8b8b8;
}
.question-content img{
    max-width:100%;
}
.questions .row{
    margin-left: 0px;
    margin-right: 0px;
}
/*.question-content table{
    width:100%;
}*/
.question-content table tr td {
    border: 1px solid #fff !important;
}
td.ques_content {
    width: 100%;
}
.answer-content{
    width:920px;
    float: left;
    padding-left: 30px;
    border-left: 2px solid #b8b8b8;
}
.questions .panel{
    border-radius: 0px;
    box-shadow: none;
    border: 2px solid #b8b8b8;
}
.response-content{
    width:920px;
    float: left;
    padding: 30px;
    background: #c6c6c6;
}
.response-content .input-group{
    width:100%;
}
.response-content .input-group textarea{
    resize:none;
}
.response-content .input-group span.input-group-btn{
    text-align: right;
    padding-top: 15px;
}
.response-content .input-group span.input-group-btn button{
    background: #fe8e28;
    color: #fff;
    padding: 10px 15px;
}
.active_modules td {
    background: #f1f1f1 !important;
}
.package_client td{
    background: #cccccc !important; 
}
.package_row td{
    background: #cccccc !important;
}

.active_package td, .package_module td {
    background: #989898;
}
.info td {
    background: #f1f1f1 !important;
}
.active_modules td {
    background: #b7b7b7 !important;
}
.success td {
    background: #bfbfbf !important;
}

.intro{
    text-align: center;
    color: #faa41c;
}
.module_desc{
    font-size: 18px;
    font-weight: bold;
}
.coaches_coach td, .coaches_list td{
    /*background: #0682e4 !important;
    color: #fff;*/
}
.coaches_pkg td{
    background: #bfbfbf !important;
    /*color: #fff;*/
}
.coaches_pkg_module td{
    background: #f1f1f1 !important;
    /*color: #fff;*/
}
.coach_packages td, .coach_clients td{
    background: #989898;
}
.coach_client td {
    background: #f1f1f1 !important;
    /*color: #fff;*/
}
.dropdown.active, .dropdown-menu .active a{
    background: #fe8e28;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    word-break: break-word;
}
.table>tbody>tr>td div {
    width: 100% !important;
}
.doc_name{
    height:30px;
}
.doc_name .req{
    color: red;
}
#package-list tr td:first-child {
    width: 400px;
}
.dropdownMenu1 i.fa-caret-up {
    margin-left: 4px;
    margin-right: -4px;
}

@media (min-width: 768px){
    body {
        margin-top: 0px;
    }
    #page-wrapper {
       min-height: 500px;E-Mail Address
    }
    .navbar-brand>img {
        margin-top: -15px;
    }
    .side-nav>li>a {
        width: auto;
    }
    #wrapper{
        max-width: 1140px;
        margin: 0 auto;
        padding:0px;
    }
    .navbar-fixed-top {
        position: relative;
    }
    .navbar{
        margin-bottom: 0px;
    }
    .navbar-right {
        margin-top: 105px;
        position: absolute;
        right: 0;
    }
}
@media (max-width : 767px){
    ul.navbar-nav {
        background: #000;
        margin: 0px !important;
    }
    .navbar-collapse{
        padding:0px;
    }
    .navbar-brand > img {
        margin-top: -23px;
    }
    .navbar-right li{
        float: right;
    }
    .navbar-toggle{
        background: #000;
    }
    .navbar-header{
        background: #fff;
    }
    .navbar-right ul.dropdown-menu{
        min-width: 110px !important;
    }
    .navbar-right ul.dropdown-menu > li > a {
        padding: 10px 32px 10px 0px !important;
    }
    #page-wrapper{
        margin-top: 150px;
    }
    iframe {
        max-width: 100%;
        height: auto;
    }
    .panel-body img {
        max-width: 100%;
        height: auto;
    }

	.answer-content , .response-content {width: 100%;}
}


@media (max-width: 992px) {
    .navbar-header {
        float: none;
        background: #fff;
        height: 150px;
    }
    .navbar-header .navbar-toggle{
        background: #000 !important;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-right {
        margin-top: -50px;
        right: 0;
        background: #000;
        width: 100%;
        margin-right: 0px;
    }
    .navbar-right > li {
        float: right;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 0px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

@media (max-width: 410px){
	tbody#clients-list tr td {
		font-size: 9px;
	}
	#clients-list .btn{
		padding: 4px 8px;
		margin-bottom: 0;
		font-size: 10px;
	}
}

@media screen and (max-width: 768px) {
    #wrapper{
        overflow-x: hidden;
    }

    #page-wrapper{
        margin-top: 50px!important;
    }
    span.multiselect-native-select .btn-group {
        width: 300px!important;
    }

    td{
        display: block;
    }

    thead{
        display: none;
    }

    td::before{
        content: attr(data-column);
        width: 75px;
        display: inline-block;
        font-weight: bold;
    }

    a#btn_add {
        margin-bottom: 20px;
    }
}